@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContent.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources")

@{
    var systemData = new SystemLimpet("rocketcontent");
    var appThemeSystem = new AppThemeSystemLimpet(systemData.SystemKey);
}

@RenderTemplate("AdminPanelHeader.cshtml", appThemeSystem, Model)

<!-- Sidebar/Menu -->
<div id="sidebarplaceholder"></div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:280px;">

        <!-- Content -->
        <div id="simplisity_startpanel" class="w3-row simplisity_panel" s-cmd="dashboard_get" s-fields=''>
            <span class="w3-display-middle"><span class="material-icons w3-spin w3-jumbo">autorenew</span></span>
        </div>
</div>

<script>

    $(document).ready(function () {

        $('#sidebarplaceholder').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'getsidemenu', '{"systemkey":"rocketcontent"}', '')
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketcontent', debug: false });

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.

    });

</script>

